.work{
    
    div{
        margin-top: 1rem;
        flex: 1;
        a{

            img{
                width: 250px;
            }
        p{
            color: gray;
        }
        }
    }
}